body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #ffffff;
}

.app-header {
  background-color: #f4f6f8;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

.app-header h1 {
  font-size: 1.75rem;
  color: #1f2937;
  font-weight: 600;
  margin: 0;
}

.container {
  padding: 1rem;
  height: calc(100vh - 73px);
  display: flex;
}